@model Entity.ProductEntity
@{
	ViewData["Title"] = "Product Detail";
	Layout = null;
}
<!-- Content Wrapper. Contains page content -->
<!-- Main content -->
<section class="content">
	<div class="container-fluid">
		<!-- SELECT2 EXAMPLE -->
		<div class="card card-default">

			<!-- /.card-header -->
			<div class="card-body">
				<form id="frmproducts">
					<input type="hidden" name="ProductID" id="ProductID" value="@Model.ProductID" />
				<div class="row col-md-12 mb-3">
					<div class="form-group row col-md-6">
						<label for="inputEmail3" class="col-md-4 col-form-label">ProductEAN</label>
						<div class="col-md-8">
								<input value="@Model.ProductEAN" name="ProductEAN" type="number" class="form-control" id="ProductEAN" placeholder="ProductEAN"
								   oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
								   maxlength="19">
						</div>
					</div>
					<div class="form-group row col-md-6">
						<label for="inputEmail3" class="col-md-4 col-form-label">ProductName</label>
						<div class="col-md-8">
								<input value="@Model.ProductName" name="ProductName" type="text" class="form-control" autocomplete="off" id="ProductName" max="100" placeholder="ProductName">
						</div>
					</div>
				</div>
				<div class="row col-md-12 mb-3">
					<div class="form-group row col-md-6">
						<label for="inputEmail3" class="col-md-4 col-form-label">Type</label>
						<div class="col-md-8">
								<select class="form-control select2" name="ProductType" id="ProductType" style="width: 100%;">
									@if (Model.ProductType == "Digital")
									{
										<option value="Digital" selected="selected">Digital</option>
									}
									else
									{
										<option value="Digital">Digital</option>
									}
									@if (Model.ProductType == "POSA")
									{
										<option value="POSA"  selected="selected">POSA</option>
									}
									else
									{
										<option value="POSA">POSA</option>
									}
								</select>
						</div>
					</div>
					<div class="form-group row col-md-6">
						<label for="inputEmail3" class="col-md-4 col-form-label">Commision</label>

						<div class="col-md-8">
								<div class="input-group">
									<input value="@Model.Commission" type="number" step=".01" class="form-control" name="Commission" id="ProductCommision" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="10" placeholder="Commision">
									<div class="input-group-append">
										<span class="input-group-text"><i class="fas fa-percentage"></i></span>
									</div>
									
									
								</div>
							
						</div>
					</div>
				</div>
				</form>

			</div>
			<!-- /.row -->
			<div class="card-footer">

				<button style="margin-left:5px;margin-right:5px;float:right;" onclick="SaveProduct()" type="button" class="btn btn-info btn-sm  btn-flat"><i class="fa fa-save"></i>  Save</button>
				<button style="margin-left:5px;margin-right:5px;float:right;" data-dismiss="modal" type="button" class="btn btn-default btn-sm  btn-flat"><i class="fa fa-times"></i>  Cancel</button>
			</div>
		</div>
		<!-- /.card-body -->
	
	</div>
	<!-- /.card -->
	<!-- /.row -->
	<!-- /.row -->
	</div>
	<!-- /.container-fluid -->
</section>
<!-- /.content -->
<!-- /.content-wrapper -->
<script type="text/javascript">
	function SaveProduct() {
		if ($('#ProductEAN').val() == null || $('#ProductEAN').val() == ""
		|| $('#ProductEAN').val() == "0") {
			toastr.error("Please enter ProductEAN")
			return;
		}
		if ($('#ProductName').val() == null || $('#ProductName').val() == ""
			|| $('#ProductName').val().trim() == "") {
			toastr.error("Please enter ProductName")
			return;
		}
		if ($('#ProductCommision').val() == null || $('#ProductCommision').val() == ""
			|| $('#ProductCommision').val().trim() == "") {
			toastr.error("Please enter Commission")
			return;
		}
		$.ajax({
			url: "/MetaData/SaveProducts",
			data: $('#frmproducts').serialize(),
			type: "post",
			success: function (result) {
				if (result > 0) {

					toastr.success("Record saved successfully..!!!");
					$('#LargeModalPopup').modal('hide');
					GetProductLists();
				}
				else {
					toastr.error("Unable to save record..!!!");
				}

			},
			error: function (result) {

			},
			beforeSend: function () {

			},
			complete: function (result) {

			}
		});
	}
</script>