USE [master]
GO
/****** Object:  Database [EPAYGOLF]    Script Date: 6/5/2024 6:28:22 PM ******/
CREATE DATABASE [EPAYGOLF]

GO
USE [EPAYGOLF]
GO
/****** Object:  Table [dbo].[Commissions]    Script Date: 6/5/2024 6:28:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Commissions](
	[CommisionID] [bigint] IDENTITY(1,1) NOT NULL,
	[RetailerID] [bigint] NULL,
	[RetailerName] [nvarchar](max) NULL,
	[StoreName] [nvarchar](max) NULL,
	[Commission] [decimal](10, 4) NULL,
	[StripeFee] [decimal](10, 4) NULL,
	[ProcessingFee] [decimal](10, 4) NULL,
	[GGCRedemption] [decimal](10, 4) NULL,
	[TransactionFee] [decimal](10, 4) NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[CreatedBy] [bigint] NULL,
	[UpdatedAt] [datetime] NULL,
	[UpdatedBy] [bigint] NULL,
 CONSTRAINT [PK_Commissions] PRIMARY KEY CLUSTERED 
(
	[CommisionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 6/5/2024 6:28:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [bigint] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](500) NULL,
	[ProductEAN] [bigint] NULL,
	[ProductType] [nvarchar](100) NULL,
	[Commission] [decimal](10, 4) NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[CreatedBy] [bigint] NULL,
	[UpdatedAt] [datetime] NULL,
	[UpdatedBy] [bigint] NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Redemptions]    Script Date: 6/5/2024 6:28:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Redemptions](
	[RedemptionsID] [bigint] IDENTITY(1,1) NOT NULL,
	[ID] [bigint] NOT NULL,
	[AccountName] [nvarchar](max) NULL,
	[TransactionID] [nvarchar](max) NULL,
	[TransactionType] [nvarchar](500) NULL,
	[CardID] [nvarchar](max) NULL,
	[PAN] [nvarchar](max) NULL,
	[TransactionDateTime] [datetime] NULL,
	[Value] [decimal](10, 4) NULL,
	[BINNumber] [nvarchar](max) NULL,
	[StoreNo] [bigint] NULL,
	[StoreName] [nvarchar](max) NULL,
	[Product] [nvarchar](max) NULL,
	[EAN] [bigint] NULL,
	[Date] [datetime] NULL,
	[ProductCommission] [decimal](10, 4) NULL,
	[ProductAmount] [decimal](10, 4) NULL,
	[VATRate] [decimal](10, 4) NULL,
	[VATDueOnCommission] [decimal](10, 4) NULL,
	[AmountPayableToStore] [decimal](10, 4) NULL,
	[Postcode] [nvarchar](max) NULL,
	[StatementCreated] [datetime] NULL,
	[StatementNumber] [nvarchar](2000) NULL,
	[StatementAmount] [decimal](10, 4) NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[CreatedBy] [bigint] NULL,
	[UpdatedAt] [datetime] NULL,
	[UpdatedBy] [bigint] NULL,
 CONSTRAINT [PK_Redemptions] PRIMARY KEY CLUSTERED 
(
	[RedemptionsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sales]    Script Date: 6/5/2024 6:28:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sales](
	[SalesID] [bigint] IDENTITY(1,1) NOT NULL,
	[ID] [bigint] NOT NULL,
	[AccountName] [nvarchar](max) NULL,
	[TransactionID] [nvarchar](max) NULL,
	[TransactionType] [nvarchar](500) NULL,
	[CardID] [nvarchar](max) NULL,
	[PAN] [nvarchar](max) NULL,
	[TransactionDateTime] [datetime] NULL,
	[Value] [decimal](10, 4) NULL,
	[BINNumber] [nvarchar](max) NULL,
	[StoreNo] [bigint] NULL,
	[StoreName] [nvarchar](max) NULL,
	[Product] [nvarchar](max) NULL,
	[EAN] [bigint] NULL,
	[StoreCommission] [decimal](10, 4) NULL,
	[VATRate] [decimal](10, 4) NULL,
	[Date] [datetime] NULL,
	[StoreAmount] [decimal](10, 4) NULL,
	[GGCCommission] [decimal](10, 4) NULL,
	[GGCAmount] [decimal](10, 4) NULL,
	[ProcessCommission] [decimal](10, 4) NULL,
	[ProcessAmount] [decimal](10, 4) NULL,
	[StripeCommission] [decimal](10, 4) NULL,
	[StripeAmount] [decimal](10, 4) NULL,
	[TransactionAmount] [decimal](10, 4) NULL,
	[NetAmount] [decimal](10, 4) NULL,
	[ExpiryDate] [datetime] NULL,
	[RedeemedAmount] [decimal](10, 4) NULL,
	[UnRedeemedAmount] [decimal](10, 4) NULL,
	[Breakage] [decimal](10, 4) NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[CreatedBy] [bigint] NULL,
	[UpdatedAt] [datetime] NULL,
	[UpdatedBy] [bigint] NULL,
 CONSTRAINT [PK_Sales] PRIMARY KEY CLUSTERED 
(
	[SalesID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sales$]    Script Date: 6/5/2024 6:28:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sales$](
	[ID] [nvarchar](255) NULL,
	[AccountName] [nvarchar](255) NULL,
	[TransactionID] [nvarchar](255) NULL,
	[TransactionType] [nvarchar](255) NULL,
	[CardID] [float] NULL,
	[PAN] [nvarchar](255) NULL,
	[TransactionDateTime] [nvarchar](255) NULL,
	[Value] [float] NULL,
	[BINNumber] [nvarchar](255) NULL,
	[StoreNo] [float] NULL,
	[StoreName] [nvarchar](255) NULL,
	[Product] [nvarchar](255) NULL,
	[EAN] [nvarchar](255) NULL,
	[StoreCommission] [float] NULL,
	[VATRate] [float] NULL,
	[Date] [datetime] NULL,
	[StoreAmount] [float] NULL,
	[GGCCommission] [float] NULL,
	[GGCAmount] [float] NULL,
	[ProcessCommission] [float] NULL,
	[ProcessAmount] [float] NULL,
	[StripeCommission] [float] NULL,
	[StripeAmount] [float] NULL,
	[TransactionAmount] [float] NULL,
	[NetAmount] [float] NULL,
	[ExpiryDate] [datetime] NULL,
	[RedeemedAmount] [float] NULL,
	[UnRedeemedAmount] [float] NULL,
	[Breakage] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StoresRedeem]    Script Date: 6/5/2024 6:28:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StoresRedeem](
	[StoresRedeemID] [bigint] IDENTITY(1,1) NOT NULL,
	[StoreNo] [bigint] NULL,
	[StoreName] [nvarchar](max) NULL,
	[Email] [nvarchar](500) NULL,
	[Address1] [nvarchar](max) NULL,
	[Address2] [nvarchar](max) NULL,
	[CityTown] [nvarchar](max) NULL,
	[PostCode] [nvarchar](300) NULL,
	[UserID] [bigint] NULL,
	[Title] [nvarchar](300) NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[UserEmail] [nvarchar](500) NULL,
	[StoreNameUser] [nvarchar](500) NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[CreatedBy] [bigint] NULL,
	[UpdatedAt] [datetime] NULL,
	[UpdatedBy] [bigint] NULL,
 CONSTRAINT [PK_StoresRedeem] PRIMARY KEY CLUSTERED 
(
	[StoresRedeemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StoresRedeem$]    Script Date: 6/5/2024 6:28:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StoresRedeem$](
	[StoreNo] [float] NULL,
	[StoreName] [nvarchar](255) NULL,
	[Email] [nvarchar](255) NULL,
	[Address1] [nvarchar](255) NULL,
	[Address2] [nvarchar](255) NULL,
	[CityTown] [nvarchar](255) NULL,
	[PostCode] [nvarchar](255) NULL,
	[UserID] [nvarchar](255) NULL,
	[Title] [nvarchar](255) NULL,
	[FirstName] [nvarchar](255) NULL,
	[LastName] [nvarchar](255) NULL,
	[UserEmail] [nvarchar](255) NULL,
	[StoreNameUser] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[test]    Script Date: 6/5/2024 6:28:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[test](
	[Value] [decimal](10, 2) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VatRates]    Script Date: 6/5/2024 6:28:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VatRates](
	[VATRatesID] [bigint] IDENTITY(1,1) NOT NULL,
	[VATRateDate] [datetime] NULL,
	[VATRate] [decimal](10, 1) NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[CreatedBy] [bigint] NULL,
	[UpdatedAt] [datetime] NULL,
	[UpdatedBy] [bigint] NULL,
 CONSTRAINT [PK_VatRates] PRIMARY KEY CLUSTERED 
(
	[VATRatesID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Commissions] ON 

INSERT [dbo].[Commissions] ([CommisionID], [RetailerID], [RetailerName], [StoreName], [Commission], [StripeFee], [ProcessingFee], [GGCRedemption], [TransactionFee], [IsActive], [IsDeleted], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy]) VALUES (1, 0, N'All Stores', N'All Stores', CAST(0.0000 AS Decimal(10, 4)), CAST(0.0000 AS Decimal(10, 4)), CAST(0.0000 AS Decimal(10, 4)), CAST(0.0000 AS Decimal(10, 4)), CAST(0.0000 AS Decimal(10, 4)), 1, 0, CAST(N'2024-06-05T18:24:58.020' AS DateTime), 1, CAST(N'2024-06-05T18:24:58.020' AS DateTime), 1)
INSERT [dbo].[Commissions] ([CommisionID], [RetailerID], [RetailerName], [StoreName], [Commission], [StripeFee], [ProcessingFee], [GGCRedemption], [TransactionFee], [IsActive], [IsDeleted], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy]) VALUES (2, 1, N'Golf Gift Card', N'Golf Gift Card', CAST(0.0000 AS Decimal(10, 4)), CAST(0.0150 AS Decimal(10, 4)), CAST(0.0100 AS Decimal(10, 4)), CAST(0.1300 AS Decimal(10, 4)), CAST(0.2000 AS Decimal(10, 4)), 1, 0, CAST(N'2024-06-05T18:24:58.020' AS DateTime), 1, CAST(N'2024-06-05T18:24:58.020' AS DateTime), 1)
INSERT [dbo].[Commissions] ([CommisionID], [RetailerID], [RetailerName], [StoreName], [Commission], [StripeFee], [ProcessingFee], [GGCRedemption], [TransactionFee], [IsActive], [IsDeleted], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy]) VALUES (3, 12, N'Epay', N'WeGift B2B Agency', CAST(0.0800 AS Decimal(10, 4)), CAST(0.0000 AS Decimal(10, 4)), CAST(0.0100 AS Decimal(10, 4)), CAST(0.1300 AS Decimal(10, 4)), CAST(0.0000 AS Decimal(10, 4)), 1, 0, CAST(N'2024-06-05T18:24:58.020' AS DateTime), 1, CAST(N'2024-06-05T18:24:58.020' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Commissions] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ProductID], [ProductName], [ProductEAN], [ProductType], [Commission], [IsActive], [IsDeleted], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy]) VALUES (1, N'Golf Gift Card', 5060380000000, N'Digital', CAST(0.1300 AS Decimal(10, 4)), 1, 0, CAST(N'2024-06-05T18:26:42.320' AS DateTime), 1, CAST(N'2024-06-05T18:26:42.320' AS DateTime), 1)
INSERT [dbo].[Products] ([ProductID], [ProductName], [ProductEAN], [ProductType], [Commission], [IsActive], [IsDeleted], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy]) VALUES (2, N'The Golf Gift Card £25 Digital', 5060380635006, N'Digital', CAST(0.1300 AS Decimal(10, 4)), 1, 0, CAST(N'2024-06-05T18:26:42.320' AS DateTime), 1, CAST(N'2024-06-05T18:26:42.320' AS DateTime), 1)
INSERT [dbo].[Products] ([ProductID], [ProductName], [ProductEAN], [ProductType], [Commission], [IsActive], [IsDeleted], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy]) VALUES (3, N'The Golf Gift Card £50 Digital', 5060380635013, N'Digital', CAST(0.1300 AS Decimal(10, 4)), 1, 0, CAST(N'2024-06-05T18:26:42.320' AS DateTime), 1, CAST(N'2024-06-05T18:26:42.320' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Redemptions] ON 

SET IDENTITY_INSERT [dbo].[Redemptions] OFF
GO
SET IDENTITY_INSERT [dbo].[Sales] ON 

SET IDENTITY_INSERT [dbo].[Sales] OFF
GO
SET IDENTITY_INSERT [dbo].[StoresRedeem] ON 

INSERT [dbo].[StoresRedeem] ([StoresRedeemID], [StoreNo], [StoreName], [Email], [Address1], [Address2], [CityTown], [PostCode], [UserID], [Title], [FirstName], [LastName], [UserEmail], [StoreNameUser], [IsActive], [IsDeleted], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy]) VALUES (1, 1, N'Golf Gift Card', NULL, N'50 Princes Street', NULL, N'Ipswich', N'IP1 1RJ', 315, N'Mrs', N'Jane', N'Carter', N'bunker253@btinternet.com', N'Golf Gift Card', 1, 0, CAST(N'2024-05-29T16:28:01.910' AS DateTime), 1, CAST(N'2024-05-29T16:28:01.910' AS DateTime), 1)
INSERT [dbo].[StoresRedeem] ([StoresRedeemID], [StoreNo], [StoreName], [Email], [Address1], [Address2], [CityTown], [PostCode], [UserID], [Title], [FirstName], [LastName], [UserEmail], [StoreNameUser], [IsActive], [IsDeleted], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy]) VALUES (2, 2, N'Reuben Club', N'mark@reubendigital.co.uk', N'3 Swindon St', NULL, N'Highworth', N'SN67AH', 314, NULL, N'Mark', N'Vincent', N'mark@reubendigital.co.uk', N'Reuben Club', 1, 0, CAST(N'2024-05-29T16:28:01.910' AS DateTime), 1, CAST(N'2024-05-29T16:28:01.910' AS DateTime), 1)
INSERT [dbo].[StoresRedeem] ([StoresRedeemID], [StoreNo], [StoreName], [Email], [Address1], [Address2], [CityTown], [PostCode], [UserID], [Title], [FirstName], [LastName], [UserEmail], [StoreNameUser], [IsActive], [IsDeleted], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy]) VALUES (3, 7, N'The Notleys Golf Club', N'golfwiseltd@btinternet.com', N'The Green', N'Witham Road', N'Witham', N'CO6 1SL', 188, NULL, N'David', N'Bugg', N'golfwiseltd@btinternet.com', N'The Notleys Golf Club', 1, 0, CAST(N'2024-05-29T16:28:01.910' AS DateTime), 1, CAST(N'2024-05-29T16:28:01.910' AS DateTime), 1)
GO
SET IDENTITY_INSERT [dbo].[StoresRedeem] OFF
GO
INSERT [dbo].[StoresRedeem$] ([StoreNo], [StoreName], [Email], [Address1], [Address2], [CityTown], [PostCode], [UserID], [Title], [FirstName], [LastName], [UserEmail], [StoreNameUser]) VALUES (1, N'Golf Gift Card', NULL, N'50 Princes Street', NULL, N'Ipswich', N'IP1 1RJ', N'315', N'Mrs', N'Jane', N'Carter', N'bunker253@btinternet.com', N'Golf Gift Card')
INSERT [dbo].[StoresRedeem$] ([StoreNo], [StoreName], [Email], [Address1], [Address2], [CityTown], [PostCode], [UserID], [Title], [FirstName], [LastName], [UserEmail], [StoreNameUser]) VALUES (2, N'Reuben Club', N'mark@reubendigital.co.uk', N'3 Swindon St', NULL, N'Highworth', N'SN67AH', N'314', NULL, N'Mark', N'Vincent', N'mark@reubendigital.co.uk', N'Reuben Club')
INSERT [dbo].[StoresRedeem$] ([StoreNo], [StoreName], [Email], [Address1], [Address2], [CityTown], [PostCode], [UserID], [Title], [FirstName], [LastName], [UserEmail], [StoreNameUser]) VALUES (7, N'The Notleys Golf Club', N'golfwiseltd@btinternet.com', N'The Green', N'Witham Road', N'Witham', N'CO6 1SL', N'188', NULL, N'David', N'Bugg', N'golfwiseltd@btinternet.com', N'The Notleys Golf Club')
GO
INSERT [dbo].[test] ([Value]) VALUES (CAST(9.00 AS Decimal(10, 2)))
INSERT [dbo].[test] ([Value]) VALUES (CAST(9.16 AS Decimal(10, 2)))
INSERT [dbo].[test] ([Value]) VALUES (CAST(1.50 AS Decimal(10, 2)))
GO
SET IDENTITY_INSERT [dbo].[VatRates] ON 

INSERT [dbo].[VatRates] ([VATRatesID], [VATRateDate], [VATRate], [IsActive], [IsDeleted], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy]) VALUES (1, CAST(N'2023-01-01T00:00:00.000' AS DateTime), CAST(20.0 AS Decimal(10, 1)), 1, 0, CAST(N'2024-05-29T18:05:47.540' AS DateTime), 1, CAST(N'2024-05-29T18:05:47.540' AS DateTime), 1)
INSERT [dbo].[VatRates] ([VATRatesID], [VATRateDate], [VATRate], [IsActive], [IsDeleted], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy]) VALUES (2, CAST(N'2024-01-01T00:00:00.000' AS DateTime), CAST(20.0 AS Decimal(10, 1)), 1, 0, CAST(N'2024-05-29T18:05:59.523' AS DateTime), 1, CAST(N'2024-05-30T16:35:25.453' AS DateTime), 100)
INSERT [dbo].[VatRates] ([VATRatesID], [VATRateDate], [VATRate], [IsActive], [IsDeleted], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy]) VALUES (3, CAST(N'2024-01-31T00:00:00.000' AS DateTime), CAST(90.0 AS Decimal(10, 1)), 0, 1, CAST(N'2024-05-30T15:42:22.187' AS DateTime), 100, CAST(N'2024-05-30T16:35:16.953' AS DateTime), 100)
SET IDENTITY_INSERT [dbo].[VatRates] OFF
GO
ALTER TABLE [dbo].[Commissions] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Commissions] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Commissions] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Commissions] ADD  DEFAULT ((1)) FOR [CreatedBy]
GO
ALTER TABLE [dbo].[Commissions] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Commissions] ADD  DEFAULT ((1)) FOR [UpdatedBy]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((1)) FOR [CreatedBy]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((1)) FOR [UpdatedBy]
GO
ALTER TABLE [dbo].[Redemptions] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Redemptions] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Redemptions] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Redemptions] ADD  DEFAULT ((1)) FOR [CreatedBy]
GO
ALTER TABLE [dbo].[Redemptions] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Redemptions] ADD  DEFAULT ((1)) FOR [UpdatedBy]
GO
ALTER TABLE [dbo].[Sales] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Sales] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Sales] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Sales] ADD  DEFAULT ((1)) FOR [CreatedBy]
GO
ALTER TABLE [dbo].[Sales] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Sales] ADD  DEFAULT ((1)) FOR [UpdatedBy]
GO
ALTER TABLE [dbo].[StoresRedeem] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[StoresRedeem] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[StoresRedeem] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[StoresRedeem] ADD  DEFAULT ((1)) FOR [CreatedBy]
GO
ALTER TABLE [dbo].[StoresRedeem] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[StoresRedeem] ADD  DEFAULT ((1)) FOR [UpdatedBy]
GO
ALTER TABLE [dbo].[VatRates] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[VatRates] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[VatRates] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[VatRates] ADD  DEFAULT ((1)) FOR [CreatedBy]
GO
ALTER TABLE [dbo].[VatRates] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[VatRates] ADD  DEFAULT ((1)) FOR [UpdatedBy]
GO
USE [master]
GO
